center-box [data-testid="stElementContainer"] {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  align-items: center;
}

.title-row {
  display: flex;
  align-items: center;
}

.title {
  font-style: italic;
}

.subtitle {
  margin-top: 20px !important;
  margin-bottom: 0px;
  font-style: italic;
}

.text-box {
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.verdict-box-false {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  border: 5px solid red;
}

.websearch-result {
  background-color: #f4f4f4;
  border-left: 5px solid #256dc4;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.stAppDeployButton {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    align-items: center;
  }

  .top-row {
    flex-direction: row;
    align-items: flex-start;
  }

  .title {
    font-style: italic;
    padding: 0px !important;
  }

  .subtitle {
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
}
